@model OdeToFood.ViewModels.HomePageViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
<body>
    <h1>hi</h1>
    <h3>@Model.CurrentGreeting</h3>
    <table>
        @foreach (var resturant in Model.Resturants)
        {
            <tr>
                <td>
                    @Html.ActionLink(resturant.Id.ToString(), "Details", new { id = resturant.Id })
                @resturant.Id
                </td>
                <td>@resturant.Name</td>
            </tr>
        }
    </table>
</body>
</html>